body {
    margin: 0;
    max-width: 1600px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

.wrapper {
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
}


/* Header
************* */

.header {
    width: 100%;
    height: 95px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    max-width: 939px;
    padding-left: 268px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 25px 0px;
}

.header__img {
    cursor: pointer;
}


/* Nav
************* */

.nav {
    display: flex;
}

.nav__link {
    margin: 0px 45px;

    color: #fff;
    text-decoration: none;
    opacity: .8;
}

.nav__link--active {
    opacity: 1;
    border-bottom: 2px solid #fff;
}


/* Your Life
************* */

.your-life {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 744px;
    width: 1600px;
    padding-top: 95px;
     
    background: #31344e
    url("img/intro_bg.png");
    background-size: cover;
}

.your-life__inner {
    width: 100%;
    height: 470px;
    margin: 0 auto;
    text-align: center;
}

.your-life__title {
    margin-top: 93px;
    margin-bottom: 19px;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.your-life__subtitle {
    margin: 0 auto;
    margin-bottom: 31px;
    width: 504px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 47px;

    border: 0;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; 
    background-color: #00AFDB;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 182px;
}

.social a {
    margin: 0 15px;
}


/* Rappresent
************* */

.rappresent {
    position: relative;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 0px;

    background: #fff;
}

.rappresent__title {
    position: absolute;
    width: 368px;
    height: 57px;
    left: 269px;
    top: 295px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #373737;
    text-transform: uppercase;
}

.rappresent__subtitle {
    position: absolute;
    width: 408px;
    height: 80px;
    left: 269px;
    top: 372px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #4E4E4E
}

.rappresent__img {
    position: absolute;

    width: 407px;
    height: 582px;
    left: 924px;
    top: 120px;
}

.btn--rappresent {
    position: absolute;
    left: 269px;
    top: 482px;
}


/* Our Community
************* */

.community {
    display: flex;

    width: 1600px;
    height: 504px;

    background: #F5F6F7;
}

.community__info {
    padding-left: 132px;

    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.community__logo {
    width: 45px;
    height: 45px;
}

.community__title {
    padding-top: 20px;
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;

    color: #373737;
}

.community__subtitle {
    padding-bottom: 20px;
    width: 298px;

    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: flex-end;
    text-align: center;

    color: #4E4E4E;
}

.community__slider {
    width: 896px;
    padding-top: 80px;

    overflow: hidden;
}

.slider {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 275px;

    font-size: 18px;
}

.slider__arrow {
    margin: 0 10px;
}

.slider__img {
    margin-right: 27px;
    cursor: pointer;
}

.slider__img:last-child {
    margin-right: 0;
}


/* Implement
************* */

.implement {
    width: 1600px;
    height: 842px;
    display: flex;

    background: #fff;
}

.implement_col {
    width: 800px;
    display: flex;
    justify-content: center;
    padding: 120px 0 0 145px;
}

.implement__img {
    justify-content: center;
    width: 407px;
    height: 582px;
}

.implement_col--right {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 800px;

    padding-left: 15px;
    padding-bottom: 20px;
}

.implement__title {
    width: 299px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #373737;
}

.implement__subtitle {
    width: 407px;
    margin-bottom: 30px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #4E4E4E;
}

.btn--implement {
    width: 180px;

    padding: 15px 47px;
}


/* Sign Up
************* */

.sign {
    width: 1600px;
    height: 524px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url("img/signUp-bg.png");
    background-size: cover;
}

.sign__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 30px;

    color: #FFFFFF;
}

.sign__form {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    text-align: center;
}

.sign__input {
    width: 340px;
    height: 46px;
    padding-left: 22px;
}

.sign__img {
    width: 66px;
    height: 46px;
    cursor: pointer;
}


/* Download
************* */

.download {
    width: 1600px;
    height: 464px;  

    padding: 120px 560px 180px;
    text-align: center;

    background: #F5F6F7;
}

.download__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #373737;

    margin-bottom: 20px;
}

.download__subtitle {
    font-size: 14px;
    line-height: 20px;

    color: #4E4E4E;

    margin-bottom: 30px;
}

.btn--download {
    
    padding: 15px 18px;
}

.btn__img {
    margin-right: 22px;
    cursor: pointer;
}

.btn__img:last-child {
    margin-right: 0;
}


/* Footer
************* */

.footer {
    width: 1600px;
    height: 185px;
    display: flex;
    justify-content: space-between;

    padding: 60px 160px;

    background: #000;
}

.footer__nav {
    padding-top: 13px;
}

.footer__link {
    text-decoration: none;
    font-style: 14px;
    line-height: 20px;

    margin-right: 16px;
    padding-right: 20px;

    border-right: 1px solid #4E4E4E;

    color: #fff;
}

.footer__link:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

.footer__logo {
    padding-right: 66px;
}

.footer__text {
    padding-top: 13px;

    line-height: 20px;
    color: #818181;
}